@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.page {
	@apply text-lg leading-relaxed;
}

.page h1 {
	@apply mb-4 text-4xl font-bold;
}

.page h2 {
	@apply highlight mt-8 inline-block px-4 text-3xl;
}

/* #nav a[aria-current='true'] {
	box-shadow: inset 0 -2.125rem 0 var(--color-nerd-highlight);
} */

@theme {
	--color-nerd-yellow: #ffce1b;
	--color-nerd-brown: #cd5700;
	--color-nerd-highlight: #f0d9c3;
	--color-nerd-blue: #332ade;
	--default-font-family: 'EB Garamond', serif;
}

@layer base {
	body {
		@apply bg-nerd-yellow text-xl;
		font-family: var(--default-font-family);
	}

	main a {
		@apply cursor-cool font-bold text-nerd-blue hover:underline;
	}
}

@utility cursor-cool {
	cursor:
		url('/cursor.svg') 33 31,
		auto;
}

@utility highlight {
	@apply relative z-10;

	&::after {
		content: '';
		@apply absolute bottom-2 left-0 block h-3 w-full bg-nerd-highlight;
		z-index: -1;
	}
}
